body{
    font-family: 'Great Vibes', cursive;
    border: none;
    margin: auto;
}



/* Countdown */
#countdown{
    position: relative;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
   
}

.countdown-background{
    height: 100%;
    width: 100%;
    background: url(../media/video/cuenta/1.webp) no-repeat;
    /* background-color: #c2c2c2; */
    background-size:cover;
    background-position-y: 50%;
    background-position-x: 50%;
    filter: brightness(75%);
}

.container{
    color: rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -15px;
    text-shadow: 0px 2px 2px #2b2b2b;
}

.container h2{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: -10px;
    color: #e6e6e6;
}

.countdown-container{
    display: flex;
}


.countdown-container .number{
    font-size: 40px;
    
    font-size: 25px !important;
}

.countdown-container .unit{
    font-size: 20px !important;
    
}


.countdown-container .segment{
    margin: 10px;
}

@media (max-width:400px){
    .container h2{
        font-size: 50px;
    }

    .countdown-container .segment{
        margin: 5px;
    }

    .countdown-container .number{
        font-size: 35px;
    }
    
    .countdown-container .unit{
        font-size: 22px;
    }
}
