.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    /* Cambia el calc(100% / numero de divs mostrados) para que veas cuantos se pueden ver */
    display: flex;
    flex: 0 0 calc(100% / 4);
    height: 400px;
    
    margin-right: 10px;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
   
  }

  .carousel-item img{
    width: 200px;
    border-radius: 50%;    
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.41);
    margin-bottom: 10px;
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }

  @media (max-width:1200px) {
    .carousel-item {
      display: flex;
      flex: 0 0 calc(100% / 3);
    }
  }
  @media (max-width:768px) {
    .carousel-item {
      display: flex;
      flex: 0 0 calc(100% / 2);
    }
  }

  @media (max-width:512px) {
    .carousel-item {
      display: flex;
      flex: 0 0 calc(100% / 1);
    }
  }