body{
    font-family: 'Great Vibes', cursive;
    border: none;
    margin: auto;
}

#relleno{
    background: darkkhaki;
    height: 900px;
}


#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

#grid .title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -3%;
  }

#grid .title h2{
    font-size: 40px;
}
  
#grid .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
}
  

#grid .column {
    flex: 0 0 calc(33.33% - 2%);
}
  
#grid .column.full-width {
    flex-basis: 100%;
}
  
#grid img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10%;
    -webkit-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.95); 
    box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.95);
}
  