body{
    box-sizing: border-box;
    margin: 0;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #e9e9e9;
    position: fixed;
    margin-top: -17px;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #3a3a3a;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #3a3a3a;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(41, 41, 41, 0);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:896px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 45%;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      margin-top: 10px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(209, 209, 209, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 5px;
      border-top: 3px solid #2b2626;
      
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #cacaca;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }